.hero {
    min-height: calc(100vh - 60px);
   /* background: green center/cover no-repeat;*/
   background-color: #00b712;
   background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .bannerTitle {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .bannerBtn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
   
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .bannerBtn a{
    text-decoration: none;
    color:white;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }